
<h5>{{question.question}}</h5>

<ul  class="list-group">
  <li *ngFor="let choice of question.choices" class="list-group-item"
    [ngClass]="{'bg-danger': grading && answer === choice && answer !== question.correct,
              'bg-success': grading && question.correct === choice}">
    <label>
      <input type="radio"
             value="{{choice}}"
             [(ngModel)]="answer"
             name="{{question._id}}"
             (ngModelChange)="submitAnswer()"
      />
      {{choice}}
    </label>
    <i [ngClass]="{'fa fa-check': grading && question.correct === choice}" class="float-right"></i>
    <i [ngClass]="{'fa fa-times': grading && answer === choice && answer !== question.correct}" class="float-right"></i>
  </li>
</ul>


<br/>
Your answer: {{answer}}
<br/>
<!--<br/>-->

<!--<button (click)="grade()" class="btn btn-success">Grade</button>-->

<!--<br/>-->
<!--<span [hidden]="answer !== question.correct">Yay!</span>-->
<!--<span [hidden]="answer === question.correct">Oops</span>-->
